<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="../css/main.css">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="../js/saved.js"></script>

      <nav>
        <div class="nav-wrapper">
          <a href="/home" class="brand-logo">RecipeBox</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/my-recipes"><b>My Recipes</b></a></li>
              <li><a href="/my-grocery-list"><b>Grocery List</b></a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/my-grocery-list">Grocery List</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
      </nav>
      <div class="container">
      	<br>
      	<img src=<%= image %>>	
      	<div class="row" >
          <div class="input-field col s12">
          	<h3 id="name"> <%= name %> </h3>
          </div>
      	</div>
	    
      <div class = "row">
        <div class="col s8">
    	    <a href= <%= source %>><%= source %> </a> <br>
    	    <p> <b>Total Time: </b> <%= time %> </p><br>
    	    <p> <b>Servings: </b> <%=amount %></p><br>
        </div>
        <div class="col s4">
          <a class="waves-effect waves-light btn" id="save">Save Recipe</a>

        </div>

      </div>
  	    <h5> Ingredients </h5><br>
	    <% for(var i = 0; i< ingredients.length; i++) { %>
          <% var htmlID = "id" + i %>
          <div class="row" >
             <div class="col s12">
                <a class="btn-floating btn-mini waves-effect waves-light green" id = <%=htmlID%>><i class="material-icons">add</i></a>
      	      	<p id=<%= "p"+htmlID%>> <%= ingredients[i] %> </p>
            </div>
          </div>
	    <% } %>
	  </div>

    </body>
    <footer>

    </footer>
    <script>
      var user = localStorage.user;
    	$("#save").click(function(e){
    		$.ajax({
    		        type: "POST",
    		        url: "/recipes/" + user +"/" + "<%= name %>" + "/" + "<%= id %>",
    		        data: {},
    		        success: function(result) {
    		            console.log(result);

    		        },
    		        error: function(result) {
    		            console.log(result);
    		        }
    		});
	   });

    </script>



  </html>
